name: Test extra build flows

on:
  pull_request:
  merge_group:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  vs-prep:
    name: Prepare Visual Studio build
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          persist-credentials: false
      - run: sudo apt-get install libfl-dev
      - name: Build
        run: make vcxsrc YOSYS_COMPILER="Visual Studio" VCX_DIR_NAME=yosys-win32-vcxsrc-latest
      - uses: actions/upload-artifact@v4
        with:
          name: vcxsrc
          path: yosys-win32-vcxsrc-latest.zip

  vs-build:
    name: Visual Studio build
    if: github.event_name != 'pull_request'
    runs-on: windows-latest
    needs: [vs-prep]
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: vcxsrc
          path: .
      - name: unzip
        run: unzip yosys-win32-vcxsrc-latest.zip
      - name: setup-msbuild
        uses: microsoft/setup-msbuild@v2
      - name: MSBuild
        working-directory: yosys-win32-vcxsrc-latest
        run: msbuild YosysVS.sln /p:PlatformToolset=v142 /p:Configuration=Release /p:WindowsTargetPlatformVersion=10.0.26100.0

  wasi-build:
    name: WASI build
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          persist-credentials: false
      - name: Build
        run: |
          WASI_SDK=wasi-sdk-27.0-x86_64-linux
          WASI_SDK_URL=https://github.com/WebAssembly/wasi-sdk/releases/download/wasi-sdk-27/wasi-sdk-27.0-x86_64-linux.tar.gz
          if ! [ -d ${WASI_SDK} ]; then curl -L ${WASI_SDK_URL} | tar xzf -; fi

          FLEX_VER=2.6.4
          FLEX=flex-${FLEX_VER}
          FLEX_URL=https://github.com/westes/flex/releases/download/v${FLEX_VER}/${FLEX}.tar.gz
          if ! [ -d ${FLEX} ]; then curl -L ${FLEX_URL} | tar xzf -; fi

          mkdir -p flex-build
          (cd flex-build &&
            ../${FLEX}/configure --prefix=$(pwd)/../flex-prefix &&
            make &&
            make install)

          mkdir -p build
          cat > build/Makefile.conf <<END
          export PATH := $(pwd)/${WASI_SDK}/bin:$(pwd)/flex-prefix/bin:${PATH}
          WASI_SYSROOT := $(pwd)/${WASI_SDK}/share/wasi-sysroot

          PRETTY := 0
          CONFIG := wasi
          PREFIX := /

          ENABLE_TCL := 0
          ENABLE_READLINE := 0
          ENABLE_PLUGINS := 0
          ENABLE_ZLIB := 0

          CXXFLAGS += -I$(pwd)/flex-prefix/include -flto
          LINKFLAGS += -Wl,-z,stack-size=8388608 -Wl,--stack-first -Wl,--strip-all
          END

          make -C build -f ../Makefile CXX=clang -j$(nproc)

  nix-build:
    name: "Build nix flake"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    steps:
      - name: Decide skip
        run: |
          if [ "${{ github.event_name }}" = "pull_request" ]; then
            echo "Skipping"
            exit 0
          fi
      - uses: actions/checkout@v4
        with:
          submodules: true
          persist-credentials: false
      - uses: cachix/install-nix-action@v31
        with:
          install_url: https://releases.nixos.org/nix/nix-2.30.0/install
      - run: nix build .?submodules=1 -L
