name: Tabby

on:
  workflow_dispatch:

jobs:
  test_access:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          pip install gdown
          gdown https://drive.google.com/file/d/1tTtDLHRp8179Pdjw9HOy7YoBEq4xTPkX/view?usp=sharing --fuzzy
          tar xfz tabby-linux-x64-20221011.tgz
      - name: test license checker
        run: |
          ./tabby/bin/tabbylic -i all
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Build
        run: |
          ./tabby/bin/tabbylic -P -c action-license.lic
        env:
          GITHUB_TOKEN: ${{ github.token }}
